@if (TempData["info"] != null)
{
    <br/>
    <div class="alert alert-success">@TempData["info"]</div>
}
@if (TempData["error"] != null)
{
    <br/>
    <div class="alert alert-warning">@TempData["error"]</div>
}
