@using DidactischeLeermiddelen.Models
@model IEnumerable<DidactischeLeermiddelen.Models.CatalogViewModel>

@{
    ViewBag.Title = "Catalogus";
}

<div class="col-md-12 text-center">
    <p>&nbsp;</p>
    @Html.Partial("_SearchCatalogPartial", new CatalogViewModel())
    <p>&nbsp;</p>
    <hr />
</div>

<div id="ajax-result">
    @Html.Partial("_SearchResultsPartial")
</div>
@section scripts
{
    <script src="~/Scripts/CustomScripts/AjaxScripts.js"></script>
}