@using DidactischeLeermiddelen.Models
@model IEnumerable<DidactischeLeermiddelen.Models.CatalogViewModel>

@{
    ViewBag.Title = "Catalogus";
}

<div class="col-md-12">
    @Html.Partial("_SearchCatalogPartial", new CatalogViewModel())
</div>

<div id="search-results">
    @Html.Partial("_SearchResultsPartial", Model)
</div>
@section scripts
{
    <script src="~/Scripts/CustomScripts/AjaxScripts.js"></script>
}