
@{
    ViewBag.Title = "EmptyReservations";
}

<h2>Lopende Reservaties</h2>

@Html.Partial("_notificationPartial")

<p>U heeft geen reservaties die in de toekomst liggen. Ga naar de <a href="/Catalog">catalogus</a> om items toe te voegen.</p>

