@model IEnumerable<DidactischeLeermiddelen.ViewModels.WishlistViewModel>
<div class="col-md-3">
    @using (Html.BeginForm("Index", "Wishlist", FormMethod.Post, new {@id="dateForm"}))
    {
        @Html.LabelFor(model => model.First().Date)
        <br/>
        @Html.HiddenFor(model => model.First().Date, new { @id = "date" })
        <div class="col-md-3" id="weekpicker" data-date="@Model.First().Date.Value.ToShortDateString()"></div>
    }
</div>
