
@{
    ViewBag.Title = "EmptyWishlist";
}

<h2>Verlanglijstje</h2>

@Html.Partial("_notificationPartial")

<p>Uw verlanglijstje is leeg. Ga naar de <a href="/Catalog">catalogus</a> om items toe te voegen.</p>

