@model IEnumerable<DidactischeLeermiddelen.ViewModels.WishlistViewModel>

@{
    ViewBag.Title = "Verlanglijstje";
}

<h2>Verlanglijstje</h2>
<hr />
<div class="col-md-12">
    
    @Html.Partial("_CalendarWishlistPartial")
    <div id="ajax-result">
        @Html.Partial("_WishlistItemsPartial")
    </div>
</div>
   

@section scripts
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/CustomScripts/WeekPicker.js"></script>
    <script src="~/Scripts/CustomScripts/AjaxScripts.js"></script>
}